<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Edit COntent</title>
</head>
<body>
  <h3 class="user" >@ <%=post.username%></h3>
  <h7 ><%=post.id%></h7>
  <hr>
  <form method="POST" action="/posts/<%=post.id%>/?_method=PATCH">
    <textarea name="newContent" placeholder="type here" rows="10" col="35"><%=post.content%></textarea>
    <button>Edit</button>
  </form>
</body>
</html>