<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Show Post</title>
</head>
<body>
  <h1 class="user"> <%=post.username%></h1>
  <h4> <%=post.id %></h4>
  <div class="post">
  <p class="content"><%=post.content%></p>
  </div>
    

</body>
</html>